<div class="container" *ngIf="selectedPhot">
    <div class="row m-0">
        <div class="col p-0">
            <span class=" highlightColor cursor-pointer" routerLink="/dashboard">Dashboard </span>
            <span> / </span>
            <span class=" highlightColor cursor-pointer" routerLink="/photos"> Photos</span>
            <span> / </span>
            <span class=" highlightColor cursor-pointer"> {{selectedPhot.id}}</span>
        </div>
    </div>
</div>
<div class="container" *ngIf="selectedPhot">
    <h1>{{selectedPhot.title}}</h1>
    <p class="highlightColor cursor-pointer" routerLink='/albums/{{selectedPhot.albumId}}'>View Album</p>
    <div class="d-flex justify-content-center align-items-center">
        <img src="{{selectedPhot.url}}" alt="{{selectedPhot.title}}" class="mw-100">
    </div>
</div>
<div class="min-vh-100 min-vw-100 d-flex justify-content-center align-items-center" *ngIf="!selectedPhot">
    <span class="spinner-border text-success"></span>
</div>