.header {
  background-color: #2980b9;
  color: #f8f9f9;
}
.postsBox {
  height: 350px;
  overflow: auto;
  background-color: #f8f9fa;
  & .sectionHead {
    background-color: #f0f1f2;
  }
  & .posts {
    border-bottom: 1px solid black;
  }
}
