<Header class="header p-4" *ngIf="user">
    <h1 class="ms-md-4">{{user.name}}</h1>
    <p class="ms-md-4">@{{user?.username}} &#8212; {{user?.email}} &#8212; {{user?.website}} &#8212;
        {{user?.company?.name}} &#8212;
        {{user?.address?.city}}</p>
</Header>
<main class="container mt-2" *ngIf="user">
    <div class="row">
        <section class="col-md-6 mb-3">
            <div class="postsBox">
                <div class="sectionHead p-2 position-sticky top-0">
                    <p class="m-0">Albums</p>
                </div>
                <div *ngFor="let album of albums" class="posts p-1 border-0">
                    <p class="m-0 title highlightColor cursor-pointer" routerLink="/albums/{{album.id}}">{{album.title}}
                    </p>
                </div>
            </div>
        </section>
        <section class="col-md-6 mb-3">
            <div class="postsBox">
                <div class="sectionHead p-2 position-sticky top-0">
                    <p class="m-0">Posts</p>
                </div>
                <div *ngFor="let post of posts" class="posts p-1">
                    <p class="m-0 title highlightColor cursor-pointer cut-text" routerLink="/posts/{{post.id}}">
                        {{post.title}}</p>
                    <p class="body cut-text">{{post.body}}</p>
                </div>
            </div>
        </section>
    </div>
</main>
<div class="min-vh-100 min-vw-100 d-flex justify-content-center align-items-center" *ngIf="!user">
    <span class="spinner-border text-success"></span>
</div>