<div class="container" *ngIf="selectedPost">
    <div class="row m-0">
        <div class="col p-1">
            <span class="highlightColor cursor-pointer" routerLink="/dashboard">Dashboard </span>
            <span> / </span>
            <span class="highlightColor cursor-pointer" routerLink="/posts"> Posts</span>
            <span> / </span>
            <span class="highlightColor cursor-pointer"> {{selectedPost.id}}</span>
        </div>
    </div>
</div>
<div class="container" *ngIf="selectedPost">
    <h1 class="p-1">{{selectedPost.title}}</h1>
    <p class="p-1">{{selectedPost.body}}</p>
</div>
<div class="min-vh-100 min-vw-100 d-flex justify-content-center align-items-center" *ngIf="!selectedPost">
    <span class="spinner-border text-success"></span>
</div>