<div class="container" *ngIf="!showSpinner">
    <div class="row m-0">
        <div class="col">
            <span class=" highlightColor cursor-pointer" routerLink="/dashboard">Dashboard </span>
            <span> / </span>
            <span class=" highlightColor cursor-pointer" routerLink="/posts"> Posts</span>
        </div>
    </div>
</div>
<div class="container" *ngIf="!showSpinner">
    <h1 class="p-1">Posts</h1>
    <div class="row m-0 mb-3">
        <div class="col-md-3 col-6 p-1">
            <input type="text" name="search" id="search" placeholder="search" class="form-control me-1"
                [(ngModel)]="searchString" (input)="search(searchInput)" #searchInput='ngModel'>
        </div>
        <div class="col-md-3 col-6 p-1">
            <select name="sort" id="sort" class="form-select ms-1" [(ngModel)]="sortingValue" (change)="sort()">
                <option value="asending">ID (1-100)</option>
                <option value="desending">ID (100-1)</option>
                <option value="userAsending">User (1-100)</option>
                <option value="userDesending">User (100-1)</option>
            </select>
        </div>
    </div>
    <p class="text-end form-text">Page {{page}} of {{totalPagesToShow}}</p>
    <main>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 50px;">ID</th>
                    <th scope="col" style="width: 75px;">User</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts | paginate: { 
                itemsPerPage: postsOnOnePage,
                currentPage: page,
                totalItems: totalItems }">
                    <td>{{post.id}}</td>
                    <td class=" highlightColor cursor-pointer" routerLink="/users/{{post.userId}}">User {{post.userId}}
                    </td>
                    <td class="highlightColor cursor-pointer" (click)="navigateToPost(post)">{{post.title}}</td>
                    <td class="cut-text">{{post.body}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="text-center" (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)" [maxSize]="9" [directionLinks]="true" [autoHide]="true"
            [responsive]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </main>
</div>
<div class="min-vh-100 min-vw-100 d-flex justify-content-center align-items-center" *ngIf="showSpinner">
    <span class="spinner-border text-success"></span>
</div>