<div class="container-fluid p-0">
  <div class="row m-0">
    <nav class="col-2 p-0 ">
      <div class="nav-box">
        <p class="p-2 fw-bold fs-5"><strong class="d-sm-block d-none">ZipHr</strong></p>
        <ul class="list-group">
          <li class="list-group-item" routerLink="dashboard" routerLinkActive="active">
            <i class="fas fa-digital-tachograph fs-1 d-sm-none d-block"></i>
            <span class="d-sm-block d-none">Dashborad</span>
          </li>
          <li class="list-group-item" routerLink="posts" routerLinkActive="active">
            <i class="fal fa-mail-bulk fs-1 d-sm-none d-block"></i>
            <span class="d-sm-block d-none">Posts</span>
          </li>
          <li class="list-group-item" routerLink="albums" routerLinkActive="active">
            <i class="fas fa-table fs-1 d-sm-none d-block"></i>
            <span class="d-sm-block d-none">Albums</span>
          </li>
          <li class="list-group-item" routerLink="photos" routerLinkActive="active">
            <i class="fas fa-images fs-1 d-sm-none d-block"></i>
            <span class="d-sm-block d-none">Photos</span>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-10 p-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>