.nav-box {
  background-color: #f8f9fa;
  height: 100vh;
  position: sticky;
  top: 0;
}
.list-group {
  background-color: transparent !important;
  & .list-group-item {
    border: none !important;
    border-radius: 0 !important;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: #dedede;
    }
  }
}
.active {
  background-color: #2980b9 !important;
  color: white;
}
