<div class="container" *ngIf="selectedAlbum">
    <div class="row m-0">
        <div class="col p-0">
            <span class=" highlightColor cursor-pointer" routerLink="/dashboard">Dashboard </span>
            <span> / </span>
            <span class=" highlightColor cursor-pointer" routerLink="/albums"> Albums</span>
            <span> / </span>
            <span class=" highlightColor cursor-pointer"> {{selectedAlbum.id}}</span>
        </div>
    </div>
</div>
<div class="container" *ngIf="selectedAlbum">
    <h1>{{selectedAlbum.title}}</h1>
    <p>By <span class="highlightColor cursor-pointer" routerLink="/users/{{selectedAlbum.userId}}">User
            {{selectedAlbum.userId}}</span></p>
    <div class="row">
        <div class="col-md-4 col-6">
            <input type="text" id='search' name='search' placeholder="Search" class="form-control" ngModel
                (input)="search(searchInput)" #searchInput='ngModel'>
        </div>
    </div>
    <main class="row mt-2">
        <section class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-6 mb-2 cursor-pointer" *ngFor="let pic of selectedAlbum.photos" >
            <div class="image" routerLink="/photos/{{pic.id}}">
                <img src="{{pic.url}}" alt="{{pic.title}}" class="w-100">
                <p class="cut-text highlightColor  p-1">{{pic.title}}</p>
            </div>
        </section>
    </main>
</div>