<div class="container" *ngIf="!showSpinner">
    <div class="row m-0">
        <div class="col p-1">
            <span class=" highlightColor cursor-pointer" routerLink="/dashboard">Dashboard </span>
            <span> / </span>
            <span class=" highlightColor cursor-pointer" routerLink="/photos"> Photos</span>
        </div>
    </div>
</div>
<div class="container" *ngIf="!showSpinner">
    <h1 class="p-1">Photos</h1>
    <div class="row m-0 mb-3">
        <div class="col-md-3 col-6 p-1">
            <input type="text" name="search" id="search" placeholder="search" class="form-control me-1"
                [(ngModel)]="searchString" (input)="search(searchInput)" #searchInput='ngModel'>
        </div>
        <div class="col-md-3 col-6 p-1">
            <select name="sort" id="sort" class="form-select ms-1" [(ngModel)]="sortingValue" (change)="sort()">
                <option value="asending">Asending</option>
                <option value="desending">Descending</option>
            </select>
        </div>
    </div>
    <p class="text-end form-text">Page {{page}} of {{totalPagesToShow}}</p>
    <main class="row">
        <section class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-6 mb-2 image cursor-pointer" *ngFor="let pic of photos| paginate: { 
            itemsPerPage: photosOnOnePage,
            currentPage: page,
            totalItems: totalItems }">
            <img src="{{pic.thumbnailUrl}}" alt="{{pic.title}}" class="w-100" routerLink='{{pic.id}}'>
            <p class="m-0 cut-text highlightColor p-1" routerLink='{{pic.id}}'>{{pic.title}}</p>
            <p class="highlightColor p-1" routerLink='/albums/{{pic.albumId}}'>View Album</p>
        </section>
        <pagination-controls class="text-center" (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)" [maxSize]="9" [directionLinks]="true" [autoHide]="true"
            [responsive]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </main>
</div>
<div class="min-vh-100 min-vw-100 d-flex justify-content-center align-items-center" *ngIf="showSpinner">
    <span class="spinner-border text-success"></span>
</div>