/* You can add global styles to this file, and also import other style files */
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cursor-pointer{
    cursor: pointer;
}
.highlightColor {
  color: #59a4d7;
  &:hover{
      text-decoration: underline;
  }
}