.header {
  height: 120px;
  padding: 10px;
  background-color: #2c3e50;
}
.statisticsBox,
.latestBox,
.recentBox {
  background-color: #f8f9fa;
  & .sectionHead {
    background-color: #f0f1f2;
  }
  & strong {
    color: #2ecc71;
  }
}
.latestBox,
.recentBox {
  height: 500px;
  overflow: auto;
  & .posts {
    border-bottom: 1px solid black;
    & .title {
      color: #59a4d7;
    }
  }
}

