<header class="header">
    <p class="fw-light mb-0 ms-md-5 mt-2 text-light">Welcome to</p>
    <p class="fw-bolder ms-md-5 text-light">ZipHr Media</p>
</header>
<main class="row justify-content-center ms-md-5 me-md-5 pt-2 m-1">
    <div class="col-md-4 mb-3">
        <div class="statisticsBox">
            <div class="sectionHead p-2">
                <p class="m-0">Statistics</p>
            </div>
            <div class="row p-3">
                <div class="col-4"><strong class="statsItemColor">{{posts.length}}</strong> <span class="fw-light">
                        posts</span>
                </div>
                <div class="col-4"><strong class="statsItemColor">{{albums.length}}</strong> <span class="fw-light">
                        albums</span>
                </div>
                <div class="col-4"><strong class="statsItemColor">{{photos.length}}</strong>
                    <span class="fw-light"> photos</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="latestBox">
            <div class="sectionHead p-2 position-sticky top-0">
                <p class="m-0">Latest Posts</p>
            </div>
            <div *ngFor="let post of posts" class="posts p-1">
                <p class="m-0 title cut-text highlightColor cursor-pointer" routerLink="/posts/{{post.id}}">
                    {{post.title}}</p>
                <p class="body cut-text">{{post.body}}</p>
            </div>
            <div class="h-100 w-100 d-flex justify-content-center align-items-center" *ngIf="!posts.length">
                <span class="spinner-border text-success"></span>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="recentBox">
            <div class="sectionHead p-2 position-sticky top-0">
                <p class="m-0">Recent Photos</p>
            </div>
            <div class="row m-0 pt-2">
                <div class="col-4" *ngFor="let pic of photos| paginate: { 
                    itemsPerPage: photosOnOnePage,
                    currentPage: page,
                    totalItems: totalPhotos }">
                    <img src="{{pic.thumbnailUrl}}" alt="{{pic.title}}" class="w-100">
                    <p class="cut-text">{{pic.title}}</p>
                </div>
                <div class="h-100 w-100 d-flex justify-content-center align-items-center" *ngIf="!photos.length">
                    <span class="spinner-border text-success"></span>
                </div>
            </div>
        </div>
        <pagination-controls class="w-100 m-1 border-1 text-center" (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)" [maxSize]="6" [directionLinks]="true" [autoHide]="true"
            [responsive]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</main>