<div class="container" *ngIf="!showSpinner">
    <div class="row m-0">
        <div class="col p-1">
            <span class="highlightColor cursor-pointer" routerLink="/dashboard">Dashboard </span>
            <span> / </span>
            <span class=" highlightColor cursor-pointer"> Albums</span>
        </div>
    </div>
</div>
<div class="container" *ngIf="!showSpinner">
    <h1 class="p-1">Posts</h1>
    <div class="row m-0 mb-3">
        <div class="col-md-3 col-6 p-1">
            <input type="text" name="search" id="search" placeholder="search" class="form-control me-1"
                [(ngModel)]="searchString" (input)="search(searchInput)" #searchInput='ngModel'>
        </div>
        <div class="col-md-3 col-6 p-1">
            <select name="sort" id="sort" class="form-select ms-1" [(ngModel)]="sortingValue" (change)="sort()">
                <option value="asending">ID (1-100)</option>
                <option value="desending">ID (100-1)</option>
                <option value="userAsending">User (1-100)</option>
                <option value="userDesending">User (100-1)</option>
            </select>
        </div>
    </div>
    <p class="form-text text-end">Page {{page}} of {{totalPagesToShow}}</p>
    <main>
        <div class="row">
            <section *ngFor="let album of albums | paginate: { 
                itemsPerPage: AlbumsOnOnePage,
                currentPage: page,
                totalItems: totalItems }" class="col-lg-3 col-md-4 col-sm-6 cursor-pointer mb-3">
                <div class="sectionHead p-2" routerLink="{{album.id}}">
                    <p class="m-0 highlightColor cut-text">{{album.title}}</p>
                </div>
                <div class="sectionBody p-2" routerLink="{{album.id}}">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6" *ngFor="let pic of album.photos; let i=index">
                            <img src="{{pic.thumbnailUrl}}" alt="{{pic.title}}" [ngClass]="{'w-100 mb-1': i<4}"
                                *ngIf="i<4">
                        </div>
                    </div>
                </div>
                <div class="sectionFooter p-2">
                    <p class="m-0" routerLink="/users/{{album.userId}}">By <span class="highlightColor">User
                            {{album.userId}}</span></p>
                </div>
            </section>
        </div>
        <pagination-controls class="w-100 m-1 text-center" (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)" [maxSize]="9" [directionLinks]="true" [autoHide]="true"
            [responsive]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </main>
</div>
<div class="min-vh-100 min-vw-100 d-flex justify-content-center align-items-center" *ngIf="showSpinner">
    <span class="spinner-border text-success"></span>
</div>